rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    match /settings/{document=**} {
      allow read: if true; // Public configuration for Kiosk
      allow write: if isAuthenticated();
    }
    
    match /employees/{employeeId} {
      // Employees must be listed on the kiosk
      allow read: if true;
      allow write: if isAuthenticated();
    }
    
    match /attendance/{logId} {
      // Kiosk needs to be able to create & update punches
      allow read, create, update: if true;
      allow delete: if isAuthenticated();
    }

    match /leaves/{document=**} {
      // Leaves can be seen and requested by employees
      allow read, create: if true;
      allow update, delete: if isAuthenticated();
    }

    match /{document=**} {
      allow read, write: if isAuthenticated(); 
    }
  }
}

